body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table.pracownicy {
    border-collapse: collapse;
    margin: 20px;
}
table.pracownicy tr th {
    background-color: black;
    color: aliceblue;

}
th,td {
    padding: 10px;
    border: solid 1px grey;
}
td {
    color: darkblue;
}
tr:hover {
    color: white;
    background-color: grey;
}
p.gra {
    border: solid thin black;
    box-shadow: darkgoldenrod 5px 5px 5px;
    border-radius: 10px;
    background-color: goldenrod;
    padding: 15px;
}
span.wyr {
    color: #322410;
    font-weight: bold;
}
